<div class="user-events">
  <% if !events.empty? %>
    <% events.each do |event| %>
      <p>
        <strong><%=link_to event.title, event %></strong>
        <br>Location: <%= event.location %> at <%= event.datetime %>
      </p>
    <% end %>
<% else %>
  <p>No events</p>
<% end %>
</div>
