* {
    box-sizing: border-box;
}

:root {
    font-size: 18px;
    color: hsl(0, 0%, 30%);
}

body {
    padding: 0;
    /*margin: 0;*/
}

a {
    color: hsl(230, 40%, 60%);
}

a:visited {
    color: hsl(270, 40%, 60%);
}

.notice {
    color: green;
}

.alert {
    color: hsl(50, 60%, 45%);
}

.events-list dt {
    font-size: 24px;
    font-weight: bold;
}

.events-list dt:not(:first-child) {
    margin-top: 18px;
}

.events-list dd {
    margin-inline-start: 0px;
}

.new-event-form {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 12px;
}

.user-events {
    padding: 8px;
}

.created-events .user-events {
    background-color: hsl(120, 50%, 90%);
}

.past-attended-events .user-events {
    background-color: hsl(270, 50%, 90%);
}

.future-attending-events .user-events {
    background-color: hsl(230, 50%, 90%);
}

header {
    font-size: 20px;
}

header .message {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.header-nav-container {
    display: flex;
    justify-content: space-between;
    padding: 12px 12px 20px 12px;
    border-bottom: 2px solid hsl(0, 0%, 80%);
}

.header-nav-container nav {
    display: flex;
    justify-content: flex-start;
    gap: 18px;
}